snippet nnoremap "quick nnoremap" bA
vim.cmd [[ nnoremap ${1:asd} <CMD>lua ${2:R'${3:jd.sl}'}<CR> ]]
endsnippet

snippet inoremap "quick inoremap" bA
vim.cmd [[ inoremap ${1:asd} <CMD>lua ${2:R'${3:jd.sl}'}<CR> ]]
endsnippet
