snippet sign "signature" b
S pozdravom,
Jonáš Dujava
endsnippet

snippet esign "english signature" b
Best regards,
Jonáš Dujava
endsnippet

snippet qt "english signature" b
Dobrý večer,
posielam riešenie ${1:1}.DÚ z Kvantovej teórie 2.

S pozdravom,
Jonáš Dujava
endsnippet
