snippet ssign "Slovak signature" b
S pozdravom,
Jonáš Dujava
endsnippet

snippet sign "Short English signature" b
Best,
Jonáš
endsnippet

snippet esign "English signature" b
Best regards,
Jonáš Dujava
endsnippet
